<nav>
    <div class="site-title">
        <a href="/"><h1>Test Server1</h1></a>
        <p>A Test Site</p>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/api">API</a></li>
        <li><a href="/api/model">Models</a></li>
    </ul>
</nav>