<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test Server | <%= title %></title>
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="api content">
            <h2>All Models</h2>
            <p>model1</p>
            <p>model2</p>            
        </div>
    </body>
</html>