<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test Server | <%= title %></title>
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="test content">
            <h2>All Tests</h2>
            <% if (models.length > 0) { %>
            <% models.forEach(model => { %>
            <h3 class="title"><%= model.title %></h3>
            <p class="snippet"><%model.snippet %></p>
            <% }) %>
            <% } else { %>
                <p>There are no models to display...</p>
            <% } %>
            
        </div>
    </body>
</html>